<!doctype html>
<html>
  <head>
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4"> About our Workout Class Platform!</h1> 
      <p>Our platform allows you to register for workout classes and register workout classes! 
        As an organizer you can put on workout classes (specifiying the price or tickets for your class
        and amount of tickets and date) and as an attendee you can buy tickets for workout classes.
      </p>
      <a href="/" class="btn btn-primary">Home</a>
    </div>
    </body>
</html>